{% extends "/other-V1/layouts/main.html" %}

{% block pageTitle %}
  {{ t.serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

   {% if data['languagePreference'] == "en" %}
    {{ govukPanel({
    titleText: "Request complete",
    html: "Your reference number<br><strong>J4R-8H5-2K9F1</strong>"
    }) }}
    {% else %}
    {{ govukPanel({
    titleText: "Cais wedi’i gwblhau",
    html: "Your reference number<br><strong>J4R-8H5-2K9F1</strong>"
    }) }}
    {% endif %}

  {% if data['languagePreference'] == "en" %}
      <h3 class="govuk-heading-m">Support organisations</h3>
      <p>The following organisations give support and advice:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.sands.org.uk/" target="_blank">Sands</a></li>
      <li><a href="https://www.tommys.org" target="_blank">Tommy's</a></li>
      <li><a href="https://www.arc-uk.org" target="_blank">Antenatal Results and Choices (ARC)</a></li>
      <li><a href="https://www.sayinggoodbye.org" target="_blank">Saying Goodbye</a></li>
      <li><a href="https://www.miscarriageassociation.org.uk" target="_blank"> Miscarriage Association</a></li>
      <li><a href="https://www.petalscharity.org " target="_blank">Petals</a></li>
       <li><a href="https://www.nhs.uk/mental-health/social-care-and-your-rights/how-to-access-mental-health-services/" target="_blank">
        NHS How to access mental health services</a></li>
    </ul>
      <p> <a href="#"> What did you think of this service?</a> (takes 30 seconds) </p>
   

       {% else %}

   <h3 class="govuk-heading-m">Sefydliadau sy’n rhoi cymorth:</h3>
      <p>Mae’r sefydliadau a ganlyn yn rhoi cymorth a chyngor:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.sands.org.uk/" target="_blank">Sands</a></li>
      <li><a href="https://www.tommys.org" target="_blank">Tommy's</a></li>
      <li><a href="https://www.arc-uk.org" target="_blank">Antenatal Results and Choices (ARC)</a></li>
      <li><a href="https://www.sayinggoodbye.org" target="_blank">Saying Goodbye</a></li>
      <li><a href="https://www.miscarriageassociation.org.uk" target="_blank"> Miscarriage Association</a></li>
      <li><a href="https://www.petalscharity.org " target="_blank">Petals</a></li>
      <li><a href="https://www.nhs.uk/mental-health/social-care-and-your-rights/how-to-access-mental-health-services/" target="_blank">
          Sut i gael gwasanaethau iechyd meddwl - GIG</a></li>
    </ul>
      <p> <a href="#"> Beth yw eich barn am y gwasanaeth hwn? </a> (cymerir 30 eiliad i ateb)</p>
    

      {% endif %}

    </div>
  </div>

{% endblock %}
