{% extends "/other-V1/layouts/main.html" %}

{% block pageTitle %}
  {{ t.serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
    titleText: t.confirmation.requestComplete,
    html: t.confirmation.applicationNumber + "<br><strong>J4R-8H5-2K9F1</strong>"
    }) }}


  {% if data['languagePreference'] == "en" %}
      <h3 class="govuk-heading-m">Support organisations</h3>
      <p>The following organisations give support and advice:</p>
   <ul class="govuk-list govuk-list--bullet">
      {% if data['country-location'] !== 'wales' %}
      <li><a href="https://www.nhs.uk/mental-health/social-care-and-your-rights/how-to-access-mental-health-services/" target="blank">NHS How to access mental health services</a></li>
       {% else %}
        <li><a href="https://111.wales.nhs.uk/encyclopaedia/m/article/mentalhealthandwellbeing?locale=en&term=A" target="blank">NHS 111 Wales - Mental Health and Wellbeing</a></li>
      {% endif%}
      <li><a href="https://www.arc-uk.org" target="blank">Antenatal Results and Choices (ARC)</a></li>
      <li><a href="https://www.daddyswithangels.org" target="blank">Daddy’s with Angels</a></li>
      {% if data['country-location'] !== 'wales' %}
      <li><a href="https://www.petalscharity.org/" target="blank">Petals</a></li>
      {% endif%}
      <li><a href="https://www.sands.org.uk/" target="blank">Sands</a></li>
      <li><a href="https://www.sayinggoodbye.org" target="blank">Saying Goodbye</a></li>
      <li><a href="https://ectopic.org.uk/" target="blank">The Ectopic Pregnancy Trust</a></li>
      <li><a href="https://www.miscarriageassociation.org.uk" target="blank">The Miscarriage Association</a></li>
      <li><a href="https://www.tommys.org" target="blank">Tommy's</a></li>
      <li><a href="https://twinstrust.org/" target="blank">Twins Trust</a></li>
    </ul>
      <p> <a href="#"> What did you think of this service?</a> (takes 30 seconds) </p>
   

   {% else %}

   <h3 class="govuk-heading-m">Sefydliadau sy’n rhoi cymorth:</h3>
      <p>Mae’r sefydliadau a ganlyn yn rhoi cymorth a chyngor:</p>
  <ul class="govuk-list govuk-list--bullet">
      {% if data['country-location'] !== 'wales' %}
      <li><a href="https://www.nhs.uk/mental-health/social-care-and-your-rights/how-to-access-mental-health-services/" target="_blank"> Sut i gael gwasanaethau iechyd meddwl - GIG</a></li>
       {% else %}
      <li><a href="https://111.wales.nhs.uk/encyclopaedia/m/article/mentalhealthandwellbeing?locale=cy&term=A" target="blank">GIG 111 Cymru - Iechyd Meddwl a Lles</a></li>
      {% endif %}
      <li><a href="https://www.arc-uk.org" target="blank">Antenatal Results and Choices (ARC)</a></li>
      <li><a href="https://www.daddyswithangels.org" target="blank">Daddy’s with Angels</a></li>
      {% if data['country-location'] !== 'wales' %}
      <li><a href="https://www.petalscharity.org/" target="blank">Petals</a></li>
      {% endif%}
      <li><a href="https://www.sands.org.uk/" target="blank">Sands</a></li>
      <li><a href="https://www.sayinggoodbye.org" target="blank">Saying Goodbye</a></li>
      <li><a href="https://ectopic.org.uk/" target="blank">The Ectopic Pregnancy Trust</a></li>
      <li><a href="https://www.miscarriageassociation.org.uk" target="blank">The Miscarriage Association</a></li>
      <li><a href="https://www.tommys.org" target="blank">Tommy's</a></li>
      <li><a href="https://twinstrust.org/" target="blank">Twins Trust</a></li>
    </ul>
      <p> <a href="#"> Beth yw eich barn am y gwasanaeth hwn? </a> (cymerir 30 eiliad i ateb)</p>
    

      {% endif %}

    </div>
  </div>

{% endblock %}
