{% extends "/main-V1/layouts/main.html" %}

{% block pageTitle %}
  {{ t.serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: t.global.back,
href: "/main-V1/start-page"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/mainV1-location-answer" method="post">
     {% if data['languagePreference'] == "en" %}
      <span class="govuk-caption-l">
        Confirm your eligibility
      </span>

        {{ govukRadios({
          name: "country-location",
          value: data['country-location'],
          fieldset: {
            legend: {
              text: "Where do you live?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "england",
              text: "England"
            },
            {
              value: "wales",
              text: "Wales"
            },
            {
              divider: "or"
            },
            {
              value: "other",
              text: "Somewhere else"
            }
          ]
        }) }}

        {% else %}

      <span class="govuk-caption-l">
      Cadarnhewch eich cymhwystra:
      </span>

        {{ govukRadios({
          name: "country-location",
          value: data['country-location'],
          fieldset: {
            legend: {
              text: "Where do you live?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "england",
              text: "England"
            },
            {
              value: "wales",
              text: "Wales"
            },
            {
              divider: "or"
            },
            {
              value: "other",
              text: "Somewhere else"
            }
          ]
        }) }}



        {% endif %}

      <button class="govuk-button" data-module="govuk-button" type="submit">
        {{t.global.continue}}
      </button>
    </form>
  </div>
</div>
<style>
</style>

{% endblock %}