{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: t.global.back,
  href: "javascript:window.history.back()"
}) }}


{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/relation-to-baby" method="post">

      {% if data['languagePreference'] == "en" %}
       <span class="govuk-caption-l">Confirm your eligibility</span>
        <h1 class="govuk-heading-l">Where do you live?</h1>

        {{ govukRadios({
            name: "whereDoYouLive",
            value: data['whereDoYouLive'],
            items: [
                {
                value: "England",
                text: "England"
                },
                {
                value: "Wales",
                text: "Wales"
                },
                {
                divider: "or"
                },
                {
                value: "Other",
                text: "None of these"
                }
            ]
            }) }}


      {% else %}
        <span class="govuk-caption-l">Confirm your eligibility Wales</span>
        <h1 class="govuk-heading-l">Where do you live?</h1>
   
        {{ govukRadios({
            name: "whereDoYouLive",
            value: data['whereDoYouLive'],
            items: [
                {
                value: "England",
                text: "England"
                },
                {
                value: "Wales",
                text: "Wales"
                },
                {
                divider: "or"
                },
                {
                value: "Other",
                text: "None of these"
                }
            ]
            }) }}


      {% endif %}

        {{ govukButton({
          text:  data[data['languagePreference']].button.continue
        }) }}

      </form>
      
    </div>
  </div>

{% endblock %}
