{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: t.global.back,
  href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

  {% block content %}
  <span class="govuk-caption-l"> {% if data['languagePreference'] == "en" %} Details on certificate 2 {% else %}
    Manylion ar dystysgrif 1 {% endif %}</span>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">

          {% if data['languagePreference'] == "en" %}
          Baby's sex
          {% else %}
          Rhyw y babi
          {% endif %}
        </h1>
      </legend>

      <form class="form" action="" method="post">

        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="baby-gender" name="baby-gender" type="radio" value="Male">
            <label class="govuk-label govuk-radios__label" for="yes">

              {% if data['languagePreference'] == "en" %}
              Male
              {% else %}
              Gwryw
              {% endif %}
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="baby-gender" name="baby-gender" type="radio" value="Female">
            <label class="govuk-label govuk-radios__label" for="no">

              {% if data['languagePreference'] == "en" %}
              Female
              {% else %}
              Benyw
              {% endif %}
            </label>
          </div>
        </div>
  </div>
  </fieldset>


  {{ govukButton({
  text: t.global.continue,
  href: "/2-certs/baby-2/name-of-baby",
  isStartButton: false
  }) }}

  </form>

</div>
</div>

{% endblock %}