{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}


{% block beforeContent %}

{% endblock %}

{% block content %}
<form action="/pregnancy-details/what-happens-next" method="post" novalidate>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">
          {% if data['languagePreference'] == "en" %} Check your answers
          {% else %} Gwiriwch eich atebion {% endif %}
        </h1>
        <h2 class="govuk-heading-m">
          {{t.global.details}}
        </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {% if data['languagePreference'] == "en" %} Name
              {% else %} Enw {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['parent1-firstname'] %}
              {{ data['parent1-firstname'] }} {{ data['parent1-lastname'] }}
              {% else %}
              {{t.global.example}}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              
              {% if data['languagePreference'] == "en" %} Address
              {% else %} Cyfeiriad {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
              4 Albert Road<br>Newcastle<br>NE1 3JA
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">
          {% if data['languagePreference'] == "en" %} Other parent's details
          {% else %} Manylion y rhiant arall {% endif %}
        </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               {% if data['languagePreference'] == "en" %} Do you want to add another parent?
                {% else %} Ydych chi eisiau ychwanegu rhiant arall?  {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
             {% if data['languagePreference'] == "en" %} Yes
              {% else %} Ydw {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/other-parent-details/add-parent">
                {{t.global.change}}<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {% if data['languagePreference'] == "en" %} 
              Would you still like to receive the certificate if the other parent does not respond?
              {% else %} 
              Hoffech chi ddal i gael y dystysgrif os nad yw’r rhiant arall yn ymateb? {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
             {% if data['languagePreference'] == "en" %} Yes
              {% else %} Ydw {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/other-parent-details/continue-if-no-response">
                {{t.global.change}}<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               {% if data['languagePreference'] == "en" %} 
              Email address
              {% else %} 
              Cyfeiriad e-bost{% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
             {{data['other-email']}}
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/other-parent-details/email">
                {{t.global.change}}<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {% if data['languagePreference'] == "en" %} 
              Date of birth
              {% else %} 
              Dyddiad geni{% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
             1 January 1998
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/other-parent-details/date-of-birth">
                {{t.global.change}}<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
        </dl>

        
          <input type="hidden" name="answers-checked" value="true">
          {{ govukButton({
            text: t.global.acceptContinue,
            href: "/pregnancy-details/what-happens-next",
            isStartButton: false
            }) }}
        </form>

      </div>
    </div>
  </main>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        $(document).ready(function() {
            const months = {
                "01": "January",
                "02": "February",
                "03": "March",
                "04": "April",
                "05": "May",
                "06": "June",
                "07": "July",
                "08": "August",
                "09": "September",
                "10": "October",
                "11": "November",
                "12": "December",
                "1": "January",
                "2": "February",
                "3": "March",
                "4": "April",
                "5": "May",
                "6": "June",
                "7": "July",
                "8": "August",
                "9": "September",

            };

 

            $(".cya-month").text(function () {
                const month = $(this).text();
                console.log("month:", month);
                console.log("months[month]:", months[month]);
                return months[month];
            });
        });
</script>
{% endblock %}
