{% extends "/main-V1/layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: t.global.back,
  href: "/main-V1/3-certs/baby-2/place-of-loss"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/mainV1-3-certs-baby-2-include-sex" method="post">
        <span class="govuk-caption-l"> {% if data['languagePreference'] == "en" %} Details on certificate 2 {% else %}
          Manylion ar dystysgrif 2 {% endif %}</span>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
                 {% if data['languagePreference'] == "en" %} 
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
     
            Would you like the sex of your baby on the certificate?
         
          </h1>
        </legend>
        <p>You may not know the sex of your baby.</p>
        <p>If you select ‘No’ or ‘I do not know the sex of my baby’, this section will be blank on the certificate.</p>
 {% else %}
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Hoffech chi gynnwys rhyw eich babi ar y dystysgrif?
          </h1>
        </legend>
        <p>Efallai na fyddwch chi’n gwybod beth oedd rhyw eich babi.</p>
        <p>Bydd yr adran hon yn wag ar y dystysgrif os byddwch chi’n dewis ‘Na hoffwn’ neu ‘Nid wyf yn gwybod beth oedd rhyw fy mabi’.</p>


          {% endif %}
         <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="baby-gender-version1" name="include-sex" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="yes">

          {% if data['languagePreference'] == "en" %} 
             Yes, I’d like the sex on the certificate

          {% else %}
          Hoffwn gynnwys rhyw y babi ar y dystysgrif
          {% endif %}

            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="baby-gender-version1" name="include-sex" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="no">
            
                  {% if data['languagePreference'] == "en" %} 
                         No, I do not want the sex on the certificate

          {% else %}
            Na hoffwn, nid wyf eisiau cynnwys rhyw y babi ar y dystysgrif
          {% endif %}

            </label>
          </div>
          <div class="govuk-radios__divider">
          {% if data['languagePreference'] == "en" %}   or  {% else %}  neu {% endif %}
          </div>
        </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="baby-gender-version1" name="include-sex" type="radio" value="unknown">
            <label class="govuk-label govuk-radios__label" for="unknown">
             
           {% if data['languagePreference'] == "en" %} 
               I do not know the sex and I’d like ‘Unknown’ on the certificate

          {% else %}
          Neu, nid wyf yn gwybod beth oedd rhyw y babi a hoffwn i ‘anhysbys’ gael ei roi ar y dystysgrif
          {% endif %}
            </label>
          </div>

        </fieldset>
        </div>


        <button class="govuk-button" data-module="govuk-button" type="submit">
           {{t.global.continue}}
        </button>

      </form>
      </div>
    </div>
  </div>
  <style>
  </style>
{% endblock %}
