{% extends "/main-V1/layouts/main.html" %}

{% block pageTitle %}
{{ t.serviceName }}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: t.global.back,
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form class="form" action="/mainV1-add-another-parent" method="post">

      {% if data['languagePreference'] == "en" %}

      <span class="govuk-caption-l">Details on the certificate</span>
      <h1 class="govuk-heading-l"> Would you like to add another parent to the certificate?</h1>
      <p class="govuk-body">You’ll need to let the other parent know that you’d like to add their name to the
        certificate.</p>
      <p class="govuk-body">The section for the other parent's name will be blank on the certificate if you select 'No'.
      </p>

      {{ govukRadios({
      name: "addAnotherParent",
      value: data['addAnotherParent'],
      items: [
      {
      value: "yes",
      text: "Yes, I'd like to add another parent to the certificate",
      conditional: {
      html: "
      <p>We’ll ask you for the other parent’s email address so we can send them a link. They’ll have up to 7 days to:
      </p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>confirm their details, including their date of birth</li>
        <li>give their permission to be named on the certificate</li>
      </ul>
      <p>You'll need to <a href='/main-V1/contact'>contact us</a> if the other parent does not have an email address or has died.</p>
      "
      }
      },
      {
      value: "no",
      text: "No, I do not want to add another parent"
      }
      ]
      }) }}

      {% else %}

      <span class="govuk-caption-l">Manylion ar y dystysgrif</span>
      <h1 class="govuk-heading-l"> Hoffech chi ychwanegu rhiant arall at y dystysgrif?</h1>
      <p class="govuk-body">Bydd angen ichi roi gwybod i’r rhiant arall eich bod yn dymuno ychwanegu ei enw neu ei henw
        at y dystysgrif.</p>
      <p class="govuk-body">Bydd yr adran ar gyfer enw rhiant arall yn wag os dewiswch 'Na hoffwn'.</p>


      {{ govukRadios({
      name: "addAnotherParent",
      value: data['addAnotherParent'],
      items: [
      {
      value: "yes",
      text: "Hoffwn ychwanegu rhiant arall i’r dystysgrif",
      conditional: {
      html: "
      <p>Byddwn yn gofyn ichi am gyfeiriad e-bost y rhiant arall fel y gallwn anfon dolen ato neu ati. Bydd gan y rhiant
        arall 7 diwrnod i wneud y canlynol:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>cadarnhau manylion, gan gynnwys ei ddyddiad neu ei dyddiad geni</li>
        <li>rhoi caniatâd i gael ei enwi neu ei henwi ar y dystysgrif</li>
      </ul>
      <p>Bydd angen <a href='/main-V1/contact'>ichi gysylltu â ni</a> os nad oes gan y rhiant arall gyfeiriad e-bost neu os yw wedi
        marw.</p>
      "
      }
      },
      {
      value: "no",
      text: "Na, dw i ddim eisiau ychwanegu rhiant arall"
      }
      ]
      }) }}


      {% endif %}


      <button class="govuk-button" data-module="govuk-button" type="submit">
        {{t.global.continue}}
      </button>

    </form>
  </div>
</div>
</div>
<style>
  .govuk-radios {
    margin-bottom: 20px;
  }
</style>

{% endblock %}