{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">

  {{ govukBackLink({
  text: t.global.back,
  href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="baby-name-version1" method="post">
        <span class="govuk-caption-l"> {% if data['languagePreference'] == "en" %} Details on certificate 1 {% else %}
          Manylion ar dystysgrif 1 {% endif %}</span>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            {% if data['languagePreference'] == "en" %}
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Would you like your baby’s name on the certificate?
              </h1>
            </legend>
            <p>You may not have named your baby. </p>
            <p>If you did name your baby, you can enter a first name, full name, or a nickname.</p>
            <p> If you select ‘No’, this section will be blank on the certificate.</p>

            {% else %}

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Hoffech chi gynnwys enw eich babi ar y dystysgrif?
              </h1>
            </legend>
            <p>Efallai na wnaethoch chi enwi eich babi. </p>
            <p>Os gwnaethoch chi enwi eich babi, gallwch roi enw cyntaf, enw llawn neu lysenw.</p>
            <p> Bydd yr adran hon yn wag ar y dystysgrif os byddwch chi’n dewis ‘Na hoffwn’.</p>

            {% endif %}

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="years-yes" name="years" type="radio" value="yes"
                  data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="contact">
                  {% if data['languagePreference'] == "en" %} Yes {% else %}Hoffwn {% endif %}
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <label class="govuk-label">
                    {% if data['languagePreference'] == "en" %} Enter baby’s name or nickname {% else %}Enw neu lysenw y babi {% endif %}
                  </label>
                  <input class="govuk-input" id="baby-name" name="baby-firstname" type="text">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="babys" name="years" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  
                  {% if data['languagePreference'] == "en" %} No {% else %}Na hoffwn {% endif %}
                </label>
              </div>
            </div>
          </fieldset>
        </div>


        {{ govukButton({
        text: "Continue",
        href: "check-your-answers-single",
        isStartButton: false
        }) }}

      </form>
    </div>
  </div>

</div>
<style>

</style>

{% endblock %}