{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ t.serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

     <span class="govuk-caption-l">{{t.global.details}}</span>
      <h1 class="govuk-heading-l">{{t.global.checkDetails}}</h1>


    <!--//////  EN //////// -->

      {% if data['languagePreference'] == "en" %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Relationship to baby"
            },
            value: {
              text: data['relationshipToBaby'] | capitalise
            },
            actions: {
              items: [
                {
                  href: "/relation-to-baby",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you know your NHS number?"
            },
            value: {
              text: data['knowNhsNumber'] | capitalise
            },
            actions: {
              items: [
                {
                  href: "/nhs-number",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "NHS number"
            },
            value: {
              text: data['enterNhsNumber']
            },
            actions: {
              items: [
                {
                  href: "/enter-nhs-number",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <p>By continuing you agree to let us use your details to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Check who you are</li>
        <li>Find your details from your NHS health records so we can send you a security code</li>
      </ul>




      {% else %}


      {{ govukSummaryList({
        rows: [
          {
            key: {
                text: "Perthynas â’ch babi"
            },
            value: {
              text: data['relationshipToBaby'] | capitalise
            },
            actions: {
              items: [
                {
                  href: "/relation-to-baby",
                  text:  t.global.change,
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          },
          {
            key: {
              text: "Ydych chi’n gwybod beth yw eich rhif GIG?"
            },
            value: {
              text: data['knowNhsNumber'] | capitalise
            },
            actions: {
              items: [
                {
                  href: "/nhs-number",
                  text:  t.global.change,
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Rhif GIG"
            },
            value: {
              text: data['enterNhsNumber']
            },
            actions: {
              items: [
                {
                  href: "/enter-nhs-number",
                  text:  t.global.change,
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <p>Trwy barhau, rydych chi’n caniatáu inni ddefnyddio eich manylion i wneud y canlynol:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Gwirio pwy ydych chi</li>
        <li>Dod o hyd i’ch manylion cyswllt o’ch cofnodion iechyd y GIG fel y gallwn anfon cod diogelwch atoch</li>
      </ul>



      {% endif %}

      <form action="get-security-code" method="post" novalidate>
        
      {{ govukButton({
          text: t.global.agreeContinue,
          isStartButton: false
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
