{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Wales Discovery:<br> Baby loss certificate
    </h1>

    {{ govukNotificationBanner({
    text: "this is a sensitive service and topic."
    }) }}

    <h5 class="govuk-heading-m">
      <a href="/start-page">Main applicant journey</a>
    </h5>
    <!-- <p class="govuk-body">Use the date of birth 27/3/2007 and postcode NE1 3JA</p> -->
    <p class="govuk-body">This is a prototype of the live service with additions including the Welsh language switcher.
    </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

     <h5 class="govuk-heading-m">
      <a href="/main-V1/start-page">Testing re-route</a>
    </h5>
  

  </div>
</div>



<style>
  .payment-summary {
    border-top: 2px solid #1d70b8;
    padding: 15px;
    background-color: #fdfdfd
  }

  .govuk-grid-column-one-third {
    margin-right: 20px;
  }
</style>


{% endblock %}