{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Wales Discovery:<br> Baby loss certificate
    </h1>

    {{ govukNotificationBanner({
    text: "This is a sensitive service and topic."
    }) }}

    <h2 class="govuk-heading-m">Main applicant journey</h2>
    <!-- <p>Prototypes of the main applicant's journey including a language switcher and Welsh translations</p> -->

    <h3 class="govuk-heading-s " ><a href="/main-V1/start-page">1.0 Main applicant prototype</a></h3>
    <!-- <p class="govuk-hint">Created for the first round of discovery research</p> -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Other parent journey</h2>
    <!-- <p>Prototypes of the other parent's journey including a language switcher and Welsh translations</p> -->

    <h3 class="govuk-heading-s" ><a href="/other-V1/email-single">1.0 Other parent prototype (single baby)</a></h3>
     <h3 class="govuk-heading-s  govuk-!-margin-bottom-2" ><a href="/other-V1/email-twins">1.0 Other parent prototype (twin babies)</a></h3>
  
    <!-- <p class="govuk-hint">Created for the first round of discovery research</p> -->


  </div>
</div>



<style>
  .payment-summary {
    border-top: 2px solid #1d70b8;
    padding: 15px;
    background-color: #fdfdfd
  }

  .govuk-grid-column-one-third {
    margin-right: 20px;
  }
</style>


{% endblock %}