{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
  text: t.global.back,
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-l">{% if data['languagePreference'] == "en" %} Other parent's details {% else %}Manylion y rhiant arall {% endif %}</span>
  <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h1 class="govuk-fieldset__heading">

      {% if data['languagePreference'] == "en" %} 
        What is the other parent's relationship to your baby?
      {% else %}
        Beth yw perthynas y rhiant arall â’ch babi neu’ch babanod?
      {% endif %}
  

  </h1>
</legend>
  <div class="govuk-form-group">
      <form class="form" action="added-parent" method="post">
        <p class="govuk-body">
          {% if data['languagePreference'] == "en" %} 
              This will be shown on the certificate.
          {% else %}
            Dangosir hyn ar y dystysgrif.
          {% endif %}
        </p>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Biological mother" name="parent-2" type="radio" value="Biological mother">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              {% if data['languagePreference'] == "en" %} Mother {% else %}  Mam {% endif %}
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Biological father" name="parent-2" type="radio" value="Biological father">
            <label class="govuk-label govuk-radios__label" for="Biological father">
              {% if data['languagePreference'] == "en" %} Father {% else %}  Tad {% endif %}
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Non biological father" name="parent-2" type="radio" value="Non biological father">
            <label class="govuk-label govuk-radios__label" for="Non biological father">
              {% if data['languagePreference'] == "en" %} Parent {% else %}  Rhiant {% endif %}
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Non biological mother" name="parent-2" type="radio" value="Non biological mother">
            <label class="govuk-label govuk-radios__label" for="Non biological mother">
                {% if data['languagePreference'] == "en" %} Surrogate {% else %}  Rhiant benthyg {% endif %}
            </label>
          </div>


          </div>
          </div>
          </fieldset>
        </div>
    </div>




    {{ govukButton({
      text: "Continue",
      href: "check-your-answers-second-parent-details",
      isStartButton: false
      }) }}

      </form>

    </div>
  </div>
  <style>

    .govuk-details {
      margin-left:10px;
    }
  </style>
{% endblock %}
