{% extends "layouts/main.html" %}

{% block pageTitle %}
 {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container app-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">What happens next </h1>
        <p>We’ll ask you for the other parent’s date of birth. This is because we need to match their details with their GP record, if they give permission for their name to be on the certificate.</p>
       
       {{ govukDetails({
        summaryText: "If the name on their GP record was not their name at the time of loss",
        html: "<p>You can only request a certificate using the name on their GP record.</p>
              <p>You can <a href='https://pregnancy-loss-certificate.herokuapp.com/beta/v15/contact'>contact us to request a certificate with a different name</a>, for example a maiden name.</p>"
      }) }}
       
       
        <div class="govuk-inset-text">
            If the date of birth you enter for the other parent does not match the date they enter, your request for a certificate will be cancelled.
        </div>
        <p>The other parent will have up to 7 days to give permission before the request is complete.</p>
        <p>If we get their permission, you'll then receive the certificate within 14 days.</p>
        {{ govukButton({
          text: "Continue",
          href: "second-parent-question",
          isStartButton: false
          }) }}

      </div>
      </div>
    </div>
</div>

{% endblock %}
